@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  
}
.App-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.Header--LogoContainer{
  width: 158.94px;
  height: 36.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PesquisaProdutos--input{
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;  
  outline: none;
  letter-spacing: 0em;
  text-align: left;
  color: #E0E0E0;
  background-color: #FFFFFF;
  height: 60px;
  width: 382px;
  border-radius: 8px;
  padding-left: 20px;
  border: 2px solid #E0E0E0
}
.PesquisaProdutos--input:focus{
  color: #828282;
  outline: 2px solid #333333
}


@media(min-width:720px){
  body{
    width: auto;
  }
  .App-header{
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }
  main{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
